//-
//- Copyrightf (C) Quobis
//- Project site: https://github.com/Quobis/QoffeeSIP
//- 
//- Licensed under GNU-LGPL-3.0-or-later (http://www.gnu.org/licenses/lgpl-3.0.html)
//-


body(class="container")
	header(id="logo",class="row-fluid header")
		img(src="img/logos/logo.png",class="span3")
		.span1
		div(id="register-info", class="well layer span8")

	div(id="internal", class="row-fluid shadow-inset-big")
		div(class="row-fluid")
			div(class="span4")
				video(id="media-remote", class="span12 hidden video", autoplay=true, controls=false)
				video(id="media-local",  class="span12 hidden video", autoplay=true, controls=false)

			div(class="span4")
				div(class="row-fluid")

				div(id="conf", class="well layer row-fluid span12")
					div(class="label span12", id="status") Unregistered

				div(class="row-fluid")

				div(class="row-fluid")
					div(id="form", class="well layer")
						audio(id="sound-calling", class="sound", preload loop)
							source(src="audio/calling.ogg", type="audio/ogg")
							source(src="audio/calling.mp3", type="audio/mpeg")
						audio(id="sound-ringing", class="sound")
							source(src="audio/ringing.ogg", type="audio/ogg", preload loop)
							source(src="audio/ringing.mp3", type="audio/mpeg")
						form(id="form-register", class="slide")					
							input(id="user-reg", name="user", class="input span12", type="text", placeholder="User", autofocus, required, autocomplete)
							input(id="pass-reg", name="pass", class="input span12", type="password", placeholder="Pass", autocomplete)
							input(id="server-reg", class="input span12", type="text", placeholder="Server (ws://ip:port/path)")
							div(id="expert-options", class="controls controls-row hidden")
								input(id="user-reg-priv", class="input span12", type="text", placeholder="Private ID (IMS)", autocomplete)
								input(id="turn-server", class="input span6", type="text", placeholder="Turn server")
								input(id="turn-server-credential", class="input span6", type="password", placeholder="Turn credential")
								div(class="controls controls-row")
									input(id="stun-server", class="input span6", type="text", placeholder="Stun server")
									div(class="controls span6")
										label(class="checkbox")
											input(id="only-audio", type="checkbox")
											p Audio session

							div(class="btn-toolbar pagination-centered")
								button(id="expert", class="btn btn-warning", type="button", data-toggle-text="Normal mode") Expert mode
								input(type="submit",id="register", class="btn btn-info", value="Register")

						form(id="form-call", class="slide pagination-centered hidden")
							input(id="ext-call", class="input span12", type="text", placeholder="Extension", required)
							div(class="btn-toolbar")
								input(type="submit", id="call", class="btn btn-success", value="Call")

						div(id="form-calling", class="slide pagination-centered hidden")
							class(class="btn-group")
								button(class="btn btn-danger", id="cancel") Hangup

						div(id="form-incoming-call", class="slide pagination-centered hidden")
							class(class="btn-group")
								button(class="btn btn-success", id="answer") Answer
								button(class="btn btn-danger", id="hangup") Hangup

						div(id="form-established-call", class="slide pagination-centered hidden")
							p(id="timer") 00:00:00
							p
								div(class="btn-group",id="call-conf")
									button(class="toggleMuteAudio", data-toggle="button", class="btn active")
										i(class="toggleMuteAudio icon-headphones")
									button(class="toggleMuteVideo", data-toggle="button", type="button", class="btn active")
										i(class="toggleMuteVideo icon-facetime-video")
									button(id="fullscreen",class="btn")
										i(class="icon-fullscreen")
							p
								button(id="hangup-established", class="btn btn-danger") End call

			div(class="span4")
				div(id="chat")
					div(class="messages dropbox shadow row-fluid span12")
					form(class="form-inline row-fluid")
						input(type="text", placeholder="Type any message here or drop a file in the box above", class="span12", required)

		div(id="notifications", class='top-right')

	footer(id="footer",class="row-fluid")
		p Powered by
			a(href="http://qoffeesip.quobis.com", target="_blank")
				img(src="img/qoffeesip.png")
			, a Javascript SIP stack developed by&nbsp
			a(href="http://www.quobis.com", target="_blank") Quobis

